<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/fullpage.min.js"
        integrity="sha256-caNcSA0LvOCX90PTuEbwl+V09xPMca13CJUasl+VCtk=" crossorigin="anonymous"></script>
</head>
<link rel="stylesheet" type="text/css" href="../static/css/sih.css">
<body>
  <div id="fullpage">
    <div class="section clearfix">
        <div class="container1">
      <div class="centered">
      <h1>V Karthikraj</h1>
      <p>Whatever you want to put</p>
      </div>
      <div class="overlay"></div>
    </div>
  </div>
  <div class="section clearfix">
    <h1 style="align-content: center;">Courses</h1>

    {% for course in all_courses %}
<div class="column">
<div class="card" onclick="">
  <img src="https://image.flaticon.com/icons/svg/887/887474.svg" alt="Book" >
  <div class="container">
    <h4><b>Course Name: {{course['code']}}</b></h4> 
    <p>Description: {{course['desc']}}</p> 
    
    {% if course['islive'] == "1" %} 
    <p> Status : Live</p>
    {% endif %}
    {% if course['islive'] == "0" %} 
    <p> Status : Not Live</p>
    {% endif %}
    <a href="/classroom/{{course['email']}}/{{course['code']}}"><button type="button" class="btn btn-primary col-md-offset-3">Primary</button></a>

  </div>
</div>
</div>
{% endfor %}


</div>
</div>
<script>
  new fullpage('#fullpage', {
      anchors: ['Profile', 'Courses'],
      sectionsColor: ['rgba(250,250,250,0.9)', 'rgba(250,250,250,0.9)'],
      sectionSelector: '.section',

      // navigation: true,
      // slidesNavigation: true,
      // controlArrows: false,
  });
</script>
</body>
</html>