<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<div class="container1">
      <div class="centered">
      <h1>V Karthikraj</h1>
      <p>Whatever you want to put</p>
      </div>
      <div class="overlay"></div>
    </div>
    <nav>
      <!-- Navbar content -->
    <ul>
    <li style="float: right;"><a href="#signout" >Sign Out</a></li>
    </ul>
    </nav>

<link rel="stylesheet" type="text/css" href="../static/css/sih.css">

<body>

<h1 style="text-align: center; font-family: Georgia, serif;">Courses</h1>

<div class="column">

    {% for course in all_courses %}
<div class="card" onclick="">
  <div class="image">
    <img src="https://image.flaticon.com/icons/svg/176/176893.svg" alt="Book" >

  </div>
    
    <div class="container">
    <h5><b>Course Name: {{course['code']}}</b></h5> 
    <p>Description: {{course['desc']}} <br> 
    Email id: {{course['email']}}</p> 
    <div class="button"> <a href="/classroom/{{email}}/{{course['code']}}"><button type="button" class="btn btn-primary col-md-offset-3">Primary</button></a></div>

  </div>
</div>
{% endfor %}
</div>






</script>
</body>
</div>
</html>



