<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
    </style>
  
    {% for course in all_courses %}
    <div class="card">
        <h3>{{course['code']}}</h3>
        <h3>{{course['desc']}}</h3>
        <h3>{{course['email']}}</h3>
        {% if course['islive'] == "1" %}
        <h3>Live</h3>
        {% endif %}
        <a href="/course/{{course['code']}}"> GO</a>
    </div>
    {% endfor %}

    <div class="card">
        <h3>Email</h3>
        <h3>{{cred['email']}}</h3>
        <h3>Name</h3>
        <h3>{{cred['name']}}</h3>
        <h3>Contact Number</h3>
        <h3>{{cred['number']}}</h3>
        <h3>{{cred['password']}}</h3>

    </div>


    
</body>
</html>